{% extends "activity-logs/settings/_layout" %}
{% import '_includes/forms.twig' as forms %}
{% set selectedNavItem = 'actions' %}

{% set content %}
    <form method="post" accept-charset="UTF-8" data-saveshortcut="">

        {{ csrfInput() }}

        <input type="hidden" name="action" value="activity-logs/actions/save-actions">
        <input type="hidden" name="pluginHandle" value="activity-logs">
        <input type="hidden" name="redirect" value="{{ 'settings/activity-logs/actions'|hash }}">
        {{ forms.editableTable({
            name:'actions',
            id:'actionsTable',
            cols: {
                action: {
                    type: 'singleline',
                    heading: 'Action'|t('app'),
                },
                label: {
                    type: 'singleline',
                    heading: 'Label'|t('app'),
                }
            },
            rows:actions,
            allowEdit: true,
        }) }}
        <div class="buttons">
            <input type="submit" class="btn submit force" value="{{ 'Save Actions'|t('app') }}">
        </div>
    </form>

    <script>
        var table = document.querySelector("#actionsTable tbody");
        for (var i = 0, row; row = table.rows[i]; i++) {
            for (var j = 0, col; col = row.cells[j]; j++) {
                if (j===0) {
                    col.querySelector("textarea").readOnly = true;
                }
            }
        }
    </script>

{% endset %}