{% extends '_layouts/elementindex' %}
{% set title = "Experiments"|t('optimum')  %}
{% set elementType = 'matfish\\Optimum\\elements\\Experiment' %}
{% set canHaveDrafts = true %}
{% set showSiteMenu = true %}
{% block actionButton %}
 <div id="extra-headers">
    <div class="buttons right">
      <a href="{{ url('optimum/experiments/new') }}" class="btn submit add icon">
       {{ "New Experiment"|t('optimum')}}
      </a>
    </div>
  </div>
{% endblock %}
